@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;1,100;1,200;1,400;1,600&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

 /* handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
 
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

